In [3]:
import requests
from bs4 import BeautifulSoup
#we need 
header={'Useragent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.149 Safari/537.36'}
url="https://economictimes.indiatimes.com/news/politics-and-nation/coronavirus-crisis-heres-total-number-of-confirmed-cases-in-india-as-per-health-ministry/articleshow/74589499.cms"
response= requests.get(url, headers=header)

In [4]:
response.status_code

200

In [5]:
soup = BeautifulSoup(response.content, 'html.parser')
stat_table = soup.find_all('table')

In [6]:
len(stat_table)
type(stat_table)

bs4.element.ResultSet

In [7]:
stat_table=stat_table[0]

In [8]:
data=[]
for row in stat_table.find_all('tr'):
    for cell in row.find_all('td'):
        data +=[cell.text]
        #print(cell.text)
print(data)
length=len(data)

['Name of State/UT', 'Total Confirmed cases', 'Cured', 'Death', 'Andaman and Nicobar Islands', '33', '33', '0', 'Andhra Pradesh', '1847', '780', '38', 'Arunachal Pradesh', '1', '1', '0', 'Assam', '54', '34', '1', 'Bihar', '550', '246', '5', 'Chandigarh', '135', '21', '1', 'Chhattishgarh', '59', '38', '0', 'Delhi', '5980', '1931', '66', 'Goa', '7', '7', '0', 'Gujarat', '7012', '1709', '425', 'Haryana', '625', '260', '7', 'Himachal Pradesh', '46', '38', '2', 'Jharkhand', '132', '41', '3', 'Karnataka', '705', '366', '30', 'Kerala', '503', '474', '4', 'Madhya Pradesh', '3252', '1231', '193', 'Maharashtra', '17974', '3301', '694', 'Manipur', '2', '2', '0', 'Mizoram', '1', '0', '0', 'Meghalaya', '12', '10', '1', 'Odisha', '219', '62', '2', 'Puduchery', '9', '6', '0', 'Punjab', '1644', '149', '28', 'Rajasthan', '3427', '1596', '97', 'Tamil Nadu', '5409', '1547', '37', 'Telangana', '1123', '650', '29', 'UT of J&K', '793', '335', '9', 'UT of Ladakh', '42', '17', '0', 'Uttar Pradesh', '3071', '1250', '62', 'Uttarakhand', '61', '39', '1', 'West Bengal', '1548', '364', '151', 'Tripura', '65', '2', '0', 'Number of confirmed cases in India', '56342*', '16540', '1886']

0,4-name of states
1,5-total confiemed cases(indian)
2,6-total confirmed cases(foregin)
3,7-cured
4,8-death

In [9]:
import pandas as pd
Name_of_State_or_UT = []
Total_Confirmed_cases=[]
Cured =[]
Death = []
headings=data[:4]
Total_India = data[-5:]
for i in range(4,length-4,4):
    Name_of_State_or_UT +=[data[i]]
    Total_Confirmed_cases += [data[i+1]]
    Cured += [data[i+2]]
    Death += [data[i+3]]
print(headings)
print(Total_India)

['Name of State/UT', 'Total Confirmed cases', 'Cured', 'Death']
['0', 'Number of confirmed cases in India', '56342*', '16540', '1886']

In [10]:
import pandas as pd
df = pd.DataFrame(list(zip(Name_of_State_or_UT, Total_Confirmed_cases,Cured,Death)), 
               columns =headings)
df

               Name of State/UT Total Confirmed cases Cured Death
0   Andaman and Nicobar Islands                    33    33     0
1                Andhra Pradesh                  1847   780    38
2             Arunachal Pradesh                     1     1     0
3                         Assam                    54    34     1
4                         Bihar                   550   246     5
5                    Chandigarh                   135    21     1
6                 Chhattishgarh                    59    38     0
7                         Delhi                  5980  1931    66
8                           Goa                     7     7     0
9                       Gujarat                  7012  1709   425
10                      Haryana                   625   260     7
11             Himachal Pradesh                    46    38     2
12                    Jharkhand                   132    41     3
13                    Karnataka                   705   366    30
14                       Kerala                   503   474     4
15               Madhya Pradesh                  3252  1231   193
16                  Maharashtra                 17974  3301   694
17                      Manipur                     2     2     0
18                      Mizoram                     1     0     0
19                    Meghalaya                    12    10     1
20                       Odisha                   219    62     2
21                    Puduchery                     9     6     0
22                       Punjab                  1644   149    28
23                    Rajasthan                  3427  1596    97
24                   Tamil Nadu                  5409  1547    37
25                    Telangana                  1123   650    29
26                    UT of J&K                   793   335     9
27                 UT of Ladakh                    42    17     0
28                Uttar Pradesh                  3071  1250    62
29                  Uttarakhand                    61    39     1
30                  West Bengal                  1548   364   151
31                      Tripura                    65     2     0